/* regras para o projeto */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@1,700;1,800&display=swap');

@font-face {
    font-family: 'Android';
    src: url(/Desafios/d010-corrigido/fontes/idroid.otf) format(opentype);
    font-weight: normal;
}

/* variáveis em CSS */

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --cor6: #070707;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Sofia Sans', sans-serif;
}

/* configurações globais */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

/* configuração para inserir símbolo de cadeado nos links externos */

/* a.externo::after {
    content: '\00A0\1F517';
} */

/* configurações do cabeçalho */

/* header {
    background-color: var(--cor6); 
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5)); 
    min-height: 60px;
    text-align: center;
    padding-top: 10px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.493); apenas para exercício 
}

header > p {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.493); apenas para exercício 
} */

/* configuração do novo menu de navegação */

nav {
    align-items: center;
    background-color: var(--cor6);
    font-family: var(--fonte-destaque);
    justify-content: space-between;
    min-height: 50px;
}

nav > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 10px 0px 10px 20px;
}

nav > button {
    background-color: transparent;
    border: none;
    color: var(--cor0);
    font-size: 2em;
    position: absolute;
    right: 10px;
    display: none;
}

nav > button:hover {
    color: var(--cor3);
    cursor: pointer;
    transition-duration: 0.25s;
}

.lista {
    list-style: none;
}

nav, .lista {
    display: flex;
    flex-direction: row;
}

.navbar {
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
}

.navbar:hover {
    color: var(--cor3);
    cursor: pointer;
    transition-duration: 0.25s;
}

/* configurações do menu de navegação - antigo */

/* nav {
    background-color: var(--cor5);
    font-family: var(--fonte-padrao);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.363);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor5);
    transition-duration: 0.25s;
} */

/* configurações da main/principal */

main {
    min-width: 300px;
    max-width: 850px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-destaque);
    font-weight: 800;
}

main h2 {
    color: #2fa865ad;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    /* background-image: linear-gradient(to right, var(--cor1), transparent); */
    text-indent: 5px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 275px;
    display: block;
    /* width: 50%; */
    margin: auto;
}

/* configurações para centralizar e deixar o vídeo responsivo */

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.75%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

/* configurações do conteúdo extra */

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.418);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style: "\2714\00A0\00A0"; /* não é compatível com todo navegador */
    list-style-position: inside;
    columns: 2;
}

/* configurações do rodapé */

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor2);
}